NEXT_PUBLIC_APP_NAME=g-ytp-v1
FFMPEG_PATH=/opt/homebrew/bin/ffmpeg
FFPROBE_PATH=/opt/homebrew/bin/ffprobe
WORKSPACE_DIR=./workspace
FONT_PATH_KR=/System/Library/Fonts/AppleSDGothicNeo.ttc
HWACCEL_DISABLED=0

NEXT_PUBLIC_SUPABASE_URL=https://xxx.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=xxx
SUPABASE_SERVICE_ROLE_KEY=xxx
SUPABASE_STORAGE_BUCKET=g-ytp-v1
GEMINI_API_KEY=여기에_Gemini_API_키_입력
PYTHON_BIN=python3
MASTER_AUDIO_WORKER_PATH=workers/master_audio.py
